{% extends 'base.html.twig' %}

{% block body %}
    <h4>Total records: {{ data|length }}, Locations: {{ locationsCount }}</h4>
    <h4>Last update: 2020-03-14</h4>
    <div class="settings">
        {% if(china) %}
            <a href="{{ path('index', {'includeChina': 0, 'casesThreshold': cases, 'deathsThreshold': deaths }) }}">Exclude&nbsp;China</a>
        {% else %}
            <a href="{{ path('index', {'includeChina': 1, 'casesThreshold': cases, 'deathsThreshold': deaths }) }}">Include&nbsp;China</a>
        {% endif %}
        {% if(cases) %}
            <a href="{{ path('index', {'casesThreshold': 0, 'includeChina': china, 'deathsThreshold': deaths }) }}">Cases:&nbsp;>100&nbsp;(Show&nbsp;all)</a>
        {% else %}
            <a href="{{ path('index', {'casesThreshold': 100, 'includeChina': china, 'deathsThreshold': deaths }) }}">Cases:&nbsp;all&nbsp;(Show&nbsp;>100)</a>
        {% endif %}
        {% if(deaths) %}
            <a href="{{ path('index', {'deathsThreshold': 0, 'includeChina': china, 'casesThreshold': cases }) }}">Deaths:&nbsp;>100&nbsp;(Show&nbsp;all)</a>
        {% else %}
            <a href="{{ path('index', {'deathsThreshold': 100, 'includeChina': china, 'casesThreshold': cases }) }}">Deaths:&nbsp;all&nbsp;(Show&nbsp;>100)</a>
        {% endif %}
        <a href="{{ path('index') }}">Clear&nbsp;filters</a>
    </div>
    <div class="compare-list-div">Compare locations: <span class="compare-list"></span><a class="compare-button" href="#" data-href="{{ path('compare') }}?locations=">Compare</a></div>
    <div class="finger"><i class="fas fa-hand-point-up" style="font-size: 50px; color: #5ecaff"></i></div>
    <div class="table-responsive">
        <table class="table" data-sort="2">
            <thead>
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>New cases</th>
                <th>New deaths</th>
                <th>Total cases</th>
                <th>Total deaths</th>
                <th>Death %</th>
            </tr>
            </thead>
            <tbody>
            {% for record in data %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td class="location">{{ record.location }}</td>
                    <td>{{ record.newCases }}</td>
                    <td>{{ record.newDeaths }}</td>
                    <td>{{ record.cases }}</td>
                    <td>{{ record.deaths }}</td>
                    <td>{{ record.deathPercent }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
